<div id="main" class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="title left ">Lisp addict</div>
    <div class="subtitle">Enter your code in the top box, press evaluate and see the results in the bottom box</div>
  </div>
</div>

<div class="palm-group">
  <div class="palm-group-title">Code input</div>
  <div id="textin" class="code-area" x-mojo-element="RichTextEdit">
    Code be here
  </div>
</div>
<div class="palm-group">
  <div class="palm-group-title">Results</div>
  <div id="textout" class="code-area" x-mojo-element="RichTextEdit">
    Results be here
  </div>
</div>
