.code-area {
	text-align: left;
	font-family: courier, monospace;
	font-size: 13px;
	resize: none;
	width: 90%;
	min-height: 5em;
	left: 0px;
	right: 0px;
	padding: 0;
	margin: 0;
	border: 0px;
	background: none;
}

#codein {
    min-height: 80px;
    padding: 0;
    margin: 0;
}

#codein * {
    text-align: left;
    font-family: courier, monospace;
    font-size: 13px;
    resize: none;
    width: 90%;
    min-height: 5em;
    left: 0px;
    right: 0px;
    padding: 0;
    margin: 0;
    border: 0px;
    background: none;
}

#codeout {
    min-height: 80px;
    padding: 0;
    margin: 0;
}

#codeout * {
    text-align: left;
    font-family: courier, monospace;
    font-size: 13px;
    resize: none;
    width: 90%;
    min-height: 5em;
    left: 0px;
    right: 0px;
    padding: 0;
    margin: 0;
    border: 0px;
    background: none;
}

/* HELP */
.code {
    white-space: pre;
    font-family: courier, monospace;
    font-size: 13px;
    padding: 1em;
}

h1 { 
    font-size: 25px;
    margin: 1ex;
}

h1 + p {
    margin-top: 2ex;
}

p + h1 {
    margin-top: 3ex;
}

.code + h1 {
    margin-top: 3ex;
}

p {
    margin: 1ex;
    padding-top: 0;
    padding-bottom: 0;
}

p + .code {
    margin: 1ex;
    padding-top: 0;
    padding-bottom: 0;
}

.inline-code-examples {
    font-family: courier, monospace;
    font-size: 13px;
}

ol {
    font-size: 16px;
}