/* .code-container { */
/* 	background: #334; */
/* 	text-align: center; */
/* 	width: 100%; */
/* 	height: 100%; */
/* 	margin: 0; */
/* 	padding: 0; */
/* } */

.code-area {
	/* color: #cce; */
	/* background: #111; */
	text-align: left;
	font-family: courier, monospace;
	font-size: 13px;
	resize: none;
	width: 90%;
	left: 0px;
	right: 0px;
}
#textin {
	/* width: 280px; */
    min-height: 80px;
}
#textout {
	/* width: 280px; */
    min-height: 80px;
}
